@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 10px
}

main{
    display: flex;
    height: 70vh;
}

.editor, .preview{
    flex: 1;
    border: solid 1px black;
    padding: 20px;
    margin: 20px 10px;
}

.preview{
    overflow: auto;
    overflow-x: hidden;
}