<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="postbox">
        <div class="head">
            <img src="https://source.unsplash.com/random" class="propic" alt="">
            <div class="hm">
                <span>Tarun posted</span>
                <span class="dtime">22nd Dec 2020</span>
            </div>
        </div>
        <div class="bod">
            <div class="desc">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae eum dolores voluptas ipsa architecto quis ullam enim nesciunt blanditiis dignissimos nulla </p>
            </div>
            <!-- <img src="https://source.unsplash.com/random/" alt=""> -->
            <button class="but">Interested</button>
        </div>
        <div class="lcs">
            <button class="lcsbut but">Like</button>
            <button class="lcsbut but">Comment</button>
            <!-- <button class="lcsbut but">Share</button> -->
        </div>
    </div>    
</body>
</html>