<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Write</title>
</head>
<body>
    <div class="tab">
        <button class="tablinks but" onclick="options(event, 'Post')" id="default">Post</button>
        <button class="tablinks but" onclick="options(event, 'Poll')">Poll</button>
        <button class="tablinks but" onclick="options(event, 'Confession')">Confession</button>
    </div>

    <div id="Post" class="tabcontent">
        <textarea name="" id="" cols="52" rows="6" placeholder="Write Something"></textarea>
            <input type="submit" class="but" value="Add image">
            <input type="submit" class="but" value="Post">
    </div>

    <div id="Poll" class="tabcontent"> 
        <input type="text" name="polldesc" id="polldesc" class="polldesc" placeholder="Write Something">
        <input id="add" type="button" class="but" value="Add Option" onclick="addOpt()">
        <input type="submit" class="but" value="Post">
    </div>

    <div id="Confession" class="tabcontent">
        <textarea name="" id="" cols="52" rows="6" placeholder="Write your Confession"></textarea>
        <input type="submit" class="but" value="Post">
    </div>

<script>
document.getElementById("default").click();
function options(evt,cityName) {
    var i, tabcontent, tablinks;
    tablinks = document.getElementsByClassName("tablinks");
    for(j = 0; j < tablinks.length ; j++){
        tablinks[j].className = tablinks[j].className.replace(" active", "");
    }
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "flex";
    evt.currentTarget.className += " active";
}

function addOpt(){
    var m= document.createElement("div");
    var itm = document.createElement("input");
    itm.type = "text";
    itm.style.width = "100%";
    // itm.style.padding = "10px";
    // itm.style.borderRadius = "5px";
    itm.style.background = "rgb(153, 209, 245)";
    itm.style.outline = "none";
    itm.style.border = "none";
    // itm.style.margin = "5px";
    itm.placeholder = "Write your option";
    itm.style.setProperty("--c","white");
    m.appendChild(itm);
    document.getElementById("Poll").insertBefore(m,document.getElementById("add"));
}
document.getElementById("add").click();

</script>
   
</body>
</html>