<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
</head>
<body>
    <!-- <header>
        <h2>SiteName</h2>
    </header> -->
    <main>
        <div class="flexbox">
            <div class="flexitem">
                <h1>SiteName</h1>
                <article>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, veniam similique. Perspiciatis voluptate sint aut, doloribus, dolore accusamus quae alias officia est tempora odit rem enim omnis veritatis possimus pariatur.
                </article>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi accusantium a non aliquam optio maiores, quidem commodi quibusdam magni eos assumenda repellat blanditiis laudantium impedit libero minima sit soluta sunt?</p>
                <button id="register">Register</button>
            </div> 
            <div class="flexitem">
                <div class="loginbox">
                    <h2 style="color:black;">Login</h2>
                    <form action="">
                        <input type="text" name="" id="" placeholder="Username" required>
                        <input type="password" name="" id="" placeholder="Password" required>
                        <input type="submit" value="Sign In">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>