<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="postbox">
        <div class="head">
            <img src="https://source.unsplash.com/random" class="propic" alt="">
            <div class="hm">
                <span>Tarun put a poll</span>
                <span class="dtime">22nd Dec 2020</span>
            </div>
        </div>
        <div class="bod">
            <div class="desc">
                Lorem ipsum, dolor sit amet consectet Lorem ur adipisicing elit. Molestiae eum dolores voluptas ipsa architecto quis ullam enim nesciunt blanditiis dignissimos nulla
            </div>
            <div class="options">
                <button class="prog p1 but"><p>40% option 1</p></button>
                <button class="prog p2 but"><p>80% option 2</p></button>
                <button class="prog p3 but"><p>60% option 2</p></button>
            </div>
        </div>
        <div class="lcs">
            <button class="lcsbut but">Like</button>
            <button class="lcsbut but">Comment</button>
            <button class="lcsbut but">Share</button>
        </div>
    </div>
</body>
</html>