<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="postheader">
            <h3>UserName</h3>
            <h4>Location</h4>
        </div>
        <img src="https://i.pinimg.com/originals/90/2a/39/902a392d7af51b9ef526944138d15c98.jpg" alt="Post Image">
        <div class="postfooter">
            <h5>Description</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero ullam beatae quas sint corporis. Officia laboriosam corporis impedit odit minus nam molestias, sunt perspiciatis consequatur tenetur quaerat doloremque accusantium fuga.</p>
            <nav>
                <a href="">like</a>
                <a href="">Commment</a>
                <a href="">share</a>
            </nav>
        </div>
    </div>
</body>
</html>