<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="postbox">
        <div class="head">
            <img src="https://source.unsplash.com/random" class="propic" alt="">
            <div class="subhead">
                <span>Tarun posted</span>
                <span class="dtime">22nd Dec 2020</span>
            </div>
        </div>
        <div class="bod">
            <div class="desc">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae eum dolores voluptas ipsa architecto quis ullam enim nesciunt blanditiis dignissimos nulla </p>
            </div>
            <img src="https://source.unsplash.com/random/" alt="">
        </div>
        <div class="lcs">
            <button class="but">Like</button>
            <button class="but">Comment</button>
            <button class="but">Share</button>
        </div>
    </div>
</body>
</html>